---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import ImageCarousel from '../../components/Carousel.astro';
import '../../styles/global.css';

const season2Items = [
  { type: 'video', src: 'https://player.vimeo.com/video/1162806489?h=7bf1efb1bb', title: 'A2RL Season 2 Highlights' },
  { type: 'image', src: '/a2rl.jpeg', alt: 'A2RL Season 2 - Team Photo' },
];

---
<Layout title="Abu Dhabi Autonomous Drone Racing" showJoin={false} logoImage="/a2rl.png" heroImage="/a2rl.jpeg"> 
<section>
  <h2>A2RL  Season 2</h2>
  <p>
Our CVAR-UPM team competed in the A2RL Autonomous Drone Race Finals in Abu Dhabi, achieving second place in the Silver 
Multi-Drone Race and the sixth fastest overall lap time. The team focused on high-speed flight, robust gate crossing, 
and advanced perception and control, using MPCC-based trajectory control, multi-gate visual positioning, and full integration 
into the Aerostack2 framework. These results reflect months of development and the dedication of the CVAR-UPM team to advancing 
fully autonomous aerial robotics. </p>  
     <p>
 More details about the competition are available at: <a href=" https://a2rl.io/autonomous-drone-race" target="_blank" rel="noopener noreferrer">A2RL season 2 Official Website</a>

  </p>
</section>
<ImageCarousel items={season2Items} />
<section>
  <h2>A2RL  Season 1</h2>
  <p>
A2RL - Abu Dhabi Autonomous Racing League is widely regarded as the leading international competition in autonomous drone racing, 
challenging teams to develop AI-driven systems capable of flying fully autonomously using only onboard sensors and computation. 
The team competed using its own open-source framework, Aerostack2, a modular platform integrating perception, trajectory planning, 
and flight control. During the competition, the drone completed two full laps of a 22-gate circuit relying solely on an onboard camera 
and IMU, processing all data in real time onboard. The team ranked among the top eight international finalists and achieved second place 
in the multi-drone race within their group, demonstrating the robustness and maturity of the technologies developed for both industrial and 
high-performance autonomous applications.
More details about the competition are available at: <a href=" https://a2rl.io/blog/5/a2rl-drones-season-1-when-the-sky-wasnt-the-limit" target="_blank" rel="noopener noreferrer">A2RL season 1 Official Website</a>

  </p>
</section>
<Video 
  videoUrl="https://player.vimeo.com/video/1079143067?badge=0&autopause=0&player_id=0&app_id=58479" 
/>
