---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import Image from '../../components/Image.astro';
import '../../styles/global.css';
---
<Layout title="International Conference on Unmanned Aircraft Systems (ICUAS)" logoImage="/icuas.png" showJoin={false} heroImage="/ICUAS.jpeg"> 

<section>
<h2>ICUAS 2023</h2>
  <p>
In this international competition focused on urban firefighting with drones, the team 
 developed a fully autonomous UAV system capable of navigating through obstacles, detecting 
 a visual marker representing a building window, and accurately deploying a fire-extinguishing 
 device by releasing a magnetically attached ball at the precise moment in flight. The solution 
 integrated onboard 3D mapping from depth images, obstacle-aware path planning, and a physics-based
release algorithm that computed the optimal drop timing based on the drone’s velocity. After achieving 
the highest score in the virtual phase, the team won first prize in the live final held in Dubrovnik, Croatia.
More details about the competition are available at: <a href=" https://uasconferences.com/2023_icuas/uav-competition-final-results/" target="_blank" rel="noopener noreferrer">ICUAS 2023 Official Website</a>
  </p>
</section>
<Image 
  imageUrl="/icuas23.jpeg"
  alt="ICUAS 2023"
  title="ICUAS 2023"
/>
<section>
<h2>ICUAS 2022</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
 Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin 
 eu urna sit amet augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. Vivamus sit amet porta orci.
    </p>  
  <p>
    More details about the competition are available at: <a href="     https://www.uasconferences.com/2022_icuas/winners-of-the-uav-competition/ " target="_blank" rel="noopener noreferrer">ICUAS 2022 Official Website</a>
  </p>

</section>

