---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import Image from '../../components/Image.astro';
import '../../styles/global.css';
---
<Layout title="International Conference on Unmanned Aircraft Systems (ICUAS)" logoImage="/icuas.png" showJoin={false} heroImage="/icuas23.jpeg"> 
<section>
<h2>ICUAS 2024</h2>
  <p>
Our CVAR-UPM team participated in the ICUAS 2024 indoor agriculture challenge, where UAVs autonomously counted fruits in a simulated greenhouse environment. 
Using a modular mission planner and vision pipeline, the drone navigated through garden beds, detected fruits, and avoided collisions, building a 3D map for 
accurate counting. Our approach was robust and precise across all scenarios, achieving the highest score for reliability, and ultimately placing 9th in the competition.
More details about the competition are available at: <a href=" https://www.ieeecss.org/event/2024-international-conference-unmanned-aircraft-systems" target="_blank" rel="noopener noreferrer">ICUAS 2024 Official Website</a>
  </p>
</section>
<Image 
  imageUrl="/icuas24.png"
  alt="ICUAS 2024"
  title="ICUAS 2024"
/>
<section>
<h2>ICUAS 2023</h2>
  <p>
In this international competition focused on urban firefighting with drones, the team 
 developed a fully autonomous UAV system capable of navigating through obstacles, detecting 
 a visual marker representing a building window, and accurately deploying a fire-extinguishing 
 device by releasing a magnetically attached ball at the precise moment in flight. The solution 
 integrated onboard 3D mapping from depth images, obstacle-aware path planning, and a physics-based
release algorithm that computed the optimal drop timing based on the drone’s velocity. After achieving 
the highest score in the virtual phase, the team won first prize in the live final held in Dubrovnik, Croatia.
More details about the competition are available at: <a href=" https://uasconferences.com/2023_icuas/uav-competition-final-results/" target="_blank" rel="noopener noreferrer">ICUAS 2023 Official Website</a>
  </p>
</section>
<Image 
  imageUrl="/icuas23.jpeg"
  alt="ICUAS 2023"
  title="ICUAS 2023"
/>
<section>
<h2>ICUAS 2022</h2>
  <p>
We won <strong>1st place</strong> in the ICUAS 2022 competition, where our UAV autonomously completed an urban firefighting mission. 
Using only an RGB-D sensor and an external localization system, it navigated obstacles, detected the fire target, 
and deployed the extinguishing device with precision. Our approach relied on a modular mission execution system in ROS 1, 
implementing three behaviors—Go Across, Search Target, and Throw Ball—controlled via speed-to-position PID. All mission objectives 
were successfully completed, with three precise deployments of the extinguishing device.
  </p>  
  <p>
    More details about the competition are available at: <a href="https://www.uasconferences.com/2022_icuas/winners-of-the-uav-competition/ " target="_blank" rel="noopener noreferrer">ICUAS 2022 Official Website</a>
  </p>
<Video 
  videoUrl="https://player.vimeo.com/video/776655431?h=50f0409088"
/>

</section>

