---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import Image from '../../components/Image.astro';
import '../../styles/global.css';
---
<Layout title="International Micro Air Vehicle Competition" subtitle="IMAV" showJoin={false} heroImage="/imav.jpeg"> 
<section>
  <h2>IMAV 2025</h2>
  <p>
Our CVAR-UPM team received the <strong>Best Technical Description Award</strong> for our indoor SAR UAV at IMAV 2025. The drone autonomously
 performed tunnel ingress, navigated through obstacle fields, and delivered medkits. Using a modular Aerostack2 framework, it built a 2D map 
 for path planning and used sensor fusion for accurate state estimation. A nonlinear position MPC controller managed its movements, complemented by a
  custom gripper. The system was successfully  tested in simulation and initial real-world trials, demonstrating reliable autonomy and 
  precision in challenging indoor disaster scenarios. <p>
       More details about the competition are available at:    <a href="https://femexrobotica.org/imav2025/">IMAV 2025</a>

<Image 
  imageUrl="/imav.jpeg"
  alt="IMAV 2025"
  title="IMAV 2025"
/>
  </p>
</section>


<section >
  <h2>IMAV 2022</h2>
  <p>
We received the <strong>Best Gates Passing</strong> award for our vision-based autonomous flight with Crazyflie nano-drones. Using only a single camera and onboard neural processing, our system navigated 
unpredictable obstacle courses and passed through orange gates with high precision. A lightweight perception and control pipeline in Aerostack2, combining monocular vision and IMU data, 
ensured real-time performance and consistent gate transitions. </p>  
  <p>
    More details about the competition are available at:  
    <a href="https://www.uasconferences.com/2022_icuas/winners-of-the-uav-competition/">IMAV 2022</a>
  </p>
</section>
<Image 
  imageUrl="/imav22.png"
  alt="IMAV 2022"
  title="IMAV 2022"
/>
<section >
  <h2>IMAV 2019</h2>
  <h3>Indoor Competitions</h3>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
  Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin 
  eu urna sit amet augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. Vivamus sit amet porta orci.
  </p>
  <p>
    More details about the competition are available at:  
    <a href="https://www.imavs.org/2019/">IMAV 2019</a>
 <Video 
  videoUrl="https://player.vimeo.com/video/376235995?h=1bd0aa8714" 
/>
  </p>
    <h3>Outdoor Competitions</h3>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
  Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin 
  eu urna sit amet augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. Vivamus sit amet porta orci.
  </p>
    <p>
    More details about the competition are available at:  
    <a href="https://www.uasconferences.com/2022_icuas/winners-of-the-uav-competition/">IMAV 2022</a>
 <Video 
  videoUrl="https://player.vimeo.com/video/395928428?h=6915e1e555"
/>
  </p>
</section>

