---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import '../../styles/global.css';
---
<Layout title="Mohamed Bin Zayed International Robotics Challenge" subtitle="" showJoin={false} heroImage="/mbzirc.jpeg"> 
<section>
  <h2>MBZIRC 2020</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
  Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin 
  eu urna sit amet augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. Vivamus sit amet porta orci.
  </p>
  <p>
    You can visit the web
    <a href="https://mrs.fel.cvut.cz/mbzirc2020">MBZIRC 2020</a>
  </p>
</section>
<Video 
  videoUrl="https://player.vimeo.com/video/399137661?h=3aad49b2dd"
/>