---
import Layout from '../../layouts/Layout.astro';
import Carousel from '../../components/Carousel.astro';
import '../../styles/global.css';

const mbzirc2020 = [
  { type: 'video', src: 'https://player.vimeo.com/video/399137661?h=3aad49b2dd' },
  { type: 'image', src: '/mbzirc/mbzirc_2.jpeg' },

];
---
<Layout title="Mohamed Bin Zayed International Robotics Challenge" subtitle="" showJoin={false} heroImage="/mbzirc/mbzirc.png"> 
<section id="2020">
  <h2>MBZIRC 2020</h2>
  <p>
The 2020 Mohamed Bin Zayed International Robotics Challenge (MBZIRC), held in Abu Dhabi, is a premier, highly competitive robotics
 event that draws elite academic institutions from around the globe. The competition challenges teams to push the boundaries of autonomous 
 systems, cooperative multi-robot operations, and agile maneuvers across unstructured environments. Teams compete in three distinct tasks – 
 involving fast autonomous navigation, target interception, cooperative construction, and firefightinga – as well as a comprehensive Grand Challenge 
 that combines these elements simultaneously. Out of hundreds of international applicants, our research group advanced to the finals to tackle these complex, 
 real-world robotics scenarios. Showcasing strong technical capabilities and effective system coordination, our team culminated its efforts by securing <strong>3rd place</strong>
  overall in the highly demanding Grand Challenge. 
  <p>
    You can visit the web
    <a href="https://mrs.fel.cvut.cz/mbzirc2020">MBZIRC 2020</a>
  </p>
</section>
<Carousel items={mbzirc2020} />
</Layout>