---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import '../../styles/global.css';
---
<Layout title="Mohamed Bin Zayed International Robotics Challenge" subtitle="" showJoin={false} heroImage="/mbzirc.png"> 
<section id="2020">
  <h2>MBZIRC 2020</h2>
  <p>
Our CVAR-UPM team reached the <strong>semifinals (Accesit)</strong> at MBZIRC 2022, tackling collaborative aerial robotics challenges. 
Our UAV swarm autonomously performed multi-drone inspection and cooperative transport of objects, with distributed decision-making 
for each vehicle. Built on the Aerostack2 framework, our system demonstrated robust coordination, autonomy, and scalability in realistic 
outdoor conditions, highlighting our capability in multi-agent aerial robotics.</p>
  <p>
    You can visit the web
    <a href="https://mrs.fel.cvut.cz/mbzirc2020">MBZIRC 2020</a>
  </p>
</section>
<Video 
  videoUrl="https://player.vimeo.com/video/399137661?h=3aad49b2dd"
/>