---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import '../../styles/global.css';
---
<Layout title="OpenCV" subtitle="" showJoin={false} heroImage="/opencv.jpeg"> 
<section id="content">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
  Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin 
  eu urna sit amet augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. Vivamus sit amet porta orci.
  </p>
    <p>
    More details about the competition are available at: <a href=" https://opencv.org/opencv-ai-competition-2021/" target="_blank" rel="noopener noreferrer">OpenCV 2021 Official Website</a>

  </p>
</section>

