---
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import Image from '../../components/Image.astro';
import '../../styles/global.css';
---
<Layout title="OpenCV" subtitle="" showJoin={false} heroImage="/opencv.png"> 
<section id="2021" >
  <h2>OpenCV 2021</h2>
  <p>
  Our CVAR-UPM team participated in the OpenCV AI Competition 2021, focusing on vision-based search and rescue with micro-UAVs.
   Using an OAK-D RGB-D camera and the Aerostack2 framework, our drone autonomously navigated cluttered indoor environments,
    detecting obstacles in real time and planning collision-free trajectories with A* path planning. Experiments demonstrated 
    precise navigation and robust autonomy, earning us the 3rd Regional Prize for Europe, Russia, and Australasia.  </p>
    <p>
    More details about the competition are available at: <a href=" https://opencv.org/opencv-ai-competition-2021/" target="_blank" rel="noopener noreferrer">OpenCV 2021 Official Website</a>

  </p>
</section>

<Image 
  imageUrl="/opencv.png"
  alt="OpenCV 2021"
  title="OpenCV 2021"
/>