---
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import '../../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Conoce las divisiones de CVAR DRONE RACING" />
    <title>Simulation - CVAR DRONE RACING</title>
  </head>
  <body>
    <Header />

    <section class="hero-banner" style="background-image: url('/images/fondo.jpeg');">
      <div class="hero-overlay">
        <h1 class="hero-title">Simulation</h1>
        <p class="hero-subtitle">Simulation</p>
      </div>
    </section>
    <Footer />
  </body>
</html>