---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---


<Layout title="Join Us"  showJoin={true} logoImage="/aerostack2.svg" heroImage="/members/team.jpeg">

<section >
    <h2>Apply Here </h2>
    <p>Please complete the<a href="https://forms.gle/UYRq6gvztvvMftTC6">
      aplication form
</section>



</Layout>
