---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Únete a CVAR DRONE RACING - Contacta con nosotros" />
    <title>Contact - CVAR DRONE RACING</title>
  </head>
  <body>
    <Header />
    
    <section class="hero-banner">
      <div class="hero-overlay">
        <h1 class="hero-title">Contact</h1>
        <p class="hero-subtitle"></p>
      </div>
    </section>

    <Footer />
  </body>
</html>