---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---


<Layout title="Join Us"  showJoin={true} joinLink="https://forms.gle/UYRq6gvztvvMftTC6" logoImage="/aerostack2.svg" heroImage="/members/team.jpeg">

<section>
    <h2>Apply Here!</h2>
    <p>
     If you're motivated by our mission, excited to push boundaries, and believe your skills and mindset align with our team, we'd love to hear from you! 
        We are always looking for passionate, proactive, and committed individuals who want to grow, learn, and make an impact. </p>
    <p>
        If this sounds like you, please complete the following form to apply:

        <a href="https://forms.gle/UYRq6gvztvvMftTC6">Application Form</a>
    </p>
    <p>
        If you have any questions or would like to know more before applying, feel free to reach out to us at 
        <a href="mailto:cvar.upm.racing@gmail.com">cvar.upm.racing@gmail.com</a> 
        or contact us directly. We’ll be happy to help!
    </p>
</section>


</Layout>
