---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Image from '../components/Image.astro';
import '../styles/global.css';

---
<Layout title="CVAR-UPM DRONE TEAM"   showJoin={true} logoImage="/aerostack2.svg" heroImage="/members/team.jpeg">
  <h2>Who are we?</h2>
    <p >
      {`We are a passionate team of drone enthusiasts from the Computer Vision and Aerial Robotics Group. 
      We are united by our commitment to technology, innovation, and high-performance flight. Our mission 
      is to push the boundaries of autonomous drone systems by combining advanced perception, state estimation,
        aerodynamics, and cutting-edge electronics in order to compete at the highest level.
      `}</p><p >{`
      At the core of our project are collaboration, continuous learning, and community. We bring together engineers, pilots, 
      programmers, and designers to share knowledge, solve complex problems, and inspire the next generation of autonomous aerial 
      robotics professionals. Whether you are an experienced drone professional or are new to the field, we strive to create an
      environment where everyone can learn, grow, and contribute meaningfully.
      `}</p><p >{`
      Driven by curiosity and powered by teamwork, we design, build, and race competition-level drones that demonstrate our 
      technical expertise and passion for innovation. Welcome to our world, where autonomy meets speed.`}          
    </p>

<Video 
  videoUrl="https://player.vimeo.com/video/1155503452?h=511c5f0706" 
/>
<p> </p>
<Image 
  imageUrl="/aerostack2_claro.svg"
/>
</Layout>